<!-- header -->
<header>
  <app-header (toogle)="sidebarToogle()"></app-header>
</header>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="sidebar">
    <!-- sidebar -->
<app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <!-- user selecting content -->
   <router-outlet></router-outlet>
  </mat-drawer-content></mat-drawer-container>

  <!-- divider -->
  <mat-divider></mat-divider>

<!-- footer -->

<footer>
  <app-footer></app-footer>
</footer>