<mat-list role="list">
    <div  class="profile">
        <img src="https://logodix.com/logo/1707081.png" alt="Admin logo">
        <h3>Admin</h3>
        <h4>admin@gmail.com</h4>
    </div>
    <mat-divider></mat-divider>
    <h2>
        Pages
    </h2>
    <div class="pages">
        <a routerLink="">Dashboard</a>
        <a routerLink="gallery">Gallery</a>
        <a routerLink="employees">Employees</a>
    </div>
    <mat-divider></mat-divider>
    <h2>
        Tools
    </h2>
    <div class="pages">

        <a routerLink="add">
           <mat-icon>import_contacts</mat-icon> Add Employee</a>
        <a routerLink="leads">
           <mat-icon>person</mat-icon> Leads</a>
    </div>
  </mat-list>
  